
    <div class="layout-login__overlay"></div>
    <div class="layout-login__form bg-white form-height"
            data-perfect-scrollbar>
        <div class="d-flex justify-content-center mt-2 mb-5 navbar-light">
            <a href="/"
                class="navbar-brand"
                style="min-width: 0">
                <img class="navbar-brand-icon"
                        src="../images/shoes_logo.png"
                        width="200"
                        alt="">
                <span>SHOZY</span>
            </a>
        </div>
        <h4 class="m-0 fs-1">Welcome back!</h4>
        <p class="mb-5">Login to access your Shozy Account</p>
        
        <form action="/login-submit" method="POST" id="form">

        <div style="color: red; font-weight: bold;"  id="count_down" ></div>

            <div class="form-group">
                <label class="text-label">Tên tài khoản</label>
                <div class="input-group input-group-merge">
                    <input class="form-control form-control-prepended"
                        id="username"
                        name="username"
                        oninvalid="this.setCustomValidity('Vui lòng nhập tên tài khoản!')"
                        onchange="this.setCustomValidity('')"
                        required=""
                        maxlength="50"
                        placeholder="Nhập tên tài khoản">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="far fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="text-label"
                        for="password">Mật khẩu</label>
                <div class="input-group input-group-merge">
                    <input class="form-control form-control-prepended"
                        id="password"
                        name="password"
                        type="password"
                        oninvalid="this.setCustomValidity('Vui lòng nhập mật khẩu!')"
                        onchange="this.setCustomValidity('')"  
                        required=""
                        maxlength="50"
                        placeholder="Nhập mật khẩu">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-key"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox"
                            class="custom-control-input"
                            id="remember">
                    <label class="custom-control-label"
                            for="remember">Ghi nhớ</label>
                </div>
            </div>
            
            <div class="form-group">
                <div class="d-flex justify-content-center">
                    <button id="btn_login"  type="submit" class="btn btn_login btn-primary mb-5">Đăng nhập</button>
                    <button id="btn_register"  type="button" class="btn btn_login btn-primary ml-5 mb-5">Đăng ký</button>
                </div>
                <a href="javascript:void(0)" type="button" id="forget_pass">Quên mật khẩu</a>
            </div>
        </form>
    </div>

    <script>
        $('#btn_register').click( function (e) {
            e.preventDefault();
            window.location.href = '/register' 
        })
    </script>