<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible"
			content="IE=edge">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no">
					
		<title>{{title}}</title>
		<link rel="icon" type="image/png" href="../images/shoes_logo.png">
		<!--/ Prevent the demo from appearing in search engines -->
		<meta name="robots"
			content="noindex">

		<link type="text/css"
			href="/assets/lib/bootstrap.min.css"
			rel="stylesheet">

		<!-- Perfect Scrollbar -->
		<link type="text/css"
			href="/assets/lib/perfect-scrollbar.css"
			rel="stylesheet">

		<!-- App CSS -->
		<link type="text/css"
			href="/assets/css/app.css"
			rel="stylesheet">

		<script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-133433427-1');
        </script>


		<!-- Material Design Icons -->
		<link type="text/css"
			href="/assets/css/vendor-material-icons.css"
			rel="stylesheet">

		<!-- Font Awesome FREE Icons -->
		<link type="text/css"
			href="/assets/css/vendor-fontawesome-free.css"
			rel="stylesheet">

		<script
			type="text/javascript"
			src="//code.jquery.com/jquery-1.11.0.min.js"
			></script>

		<!-- toast -->
		<link type="text/css"
			href="/assets/lib/toastr.min.css"
			rel="stylesheet">

		<!-- Flatpickr -->
		<link type="text/css"
			href="/assets/css/vendor-flatpickr.css"
			rel="stylesheet">

		<link type="text/css"
			href="/assets/css/vendor-flatpickr-airbnb.css"
			rel="stylesheet">


		<!-- Vector Maps -->
		<link type="text/css"
			href="/assets/lib/jqvmap/jqvmap.min.css"
			rel="stylesheet">

		<style>
			.form-height{
				width: 25%;
			}
		</style>
	</head>

{{!-- class="layout-login" --}}
	<body >
		{{{body}}}

		<script src="/assets/lib/jquery.min.js"></script>

		<!-- Bootstrap -->
		<script src="/assets/lib/popper.min.js"></script>
		<script src="/assets/lib/bootstrap.min.js"></script>
		{{!-- <script src="/assets/lib/jquery-3.3.1.slim.min.js"></script> --}}
		<script src="/assets/lib/bootstrap.bundle.min.js"></script>
		<script src="/assets/lib/jquery.countdown.min.js"></script>

		<!-- Perfect Scrollbar -->
		<script src="/assets/lib/perfect-scrollbar.min.js"></script>

		<!-- DOM Factory -->
		<script src="/assets/lib/dom-factory.js"></script>

		<!-- MDK -->
		<script src="/assets/lib/material-design-kit.js"></script>

		<!-- App -->
		<script src="/assets/js/toggle-check-all.js"></script>
		<script src="/assets/js/check-selected-row.js"></script>
		<script src="/assets/js/dropdown.js"></script>
		<script src="/assets/js/sidebar-mini.js"></script>
		<script src="/assets/js/app.js"></script>

		{{!-- toast --}}
		<script src="/assets/lib/toastr.min.js"></script>
		<script src="/assets/js/toastr.js"></script>

	</body>
</html>
