<tr>
    <td style="padding-right: 0px !important;">
        <div  class="align-items-center">
            <div style="width: 113px !important;" class="avatar avatar-xxl mr-2">
                <img src="assets/images/256_luke-porter-261779-unsplash.jpg"
                        alt="Avatar"
                        class="avatar-img rounded">
            </div>
        </div>
    </td>
    <td>
        <div class="media-body">
            <span class="d-inline-block text-truncate fw-bold" style="max-width: 250px;">Michael sdfsadfasfsdsafdfasddgdgdfgdfsgsdgfsdgSmith</span>
        </div>
        <div class="media-body">
            <span class="js-lists-values-employee-name">$123</span>
        </div>
    </td>
    <td>
        <div class="align-items-center">
            <textarea class="textarea form-control" id="exampleFormControlTextarea1" rows="3">dfsadfsdfsaifgfsaffffffffffffffffffffffffffffffffffffffffffffffffffff</textarea>
        </div>
    </td>
    <td><span class="text-center">20</span></td>
    <td><small class="text-muted">&dollar;12</small></td>
    <td>28</td>
    <td>
        <a href=""
            class="text-muted"><i class="material-icons">more_vert</i></a>
    </td>
</tr>