{{#each list}}
    <tbody class="list"id="section_function">
        <tr id="item_product" data-index="">
            <td style="padding-right: 0px !important;">
                <div  class="align-items-center">
                    <div style="width: 113px !important;" class="avatar avatar-xxl mr-2">
                        <img src="assets/images/256_luke-porter-261779-unsplash.jpg"
                            alt="Avatar"
                            class="avatar-img setImg rounded">
                    </div>
                </div>
            </td>
            <td>
                <div class="media-body">
                    <span id="name" class="d-inline-block text-truncate fw-bold" data-index="" style="max-width: 250px;">{{this.name}}}</span>
                </div>
            </td>
            <td>
                <div class="media-body">
                    <span class="price js-lists-values-employee-name">&dollar; 123</span>
                </div>
            </td>
            <td>
                <div class="align-items-center">
                    <textarea class="decs textarea form-control" id="exampleFormControlTextarea1" rows="3">dfsadfsdfsaifgfsaffffffffffffffffffffffffffffffffffffffffffffffffffff</textarea>
                </div>
            </td>
            <td><span class="text-center">20</span></td>
            <td><small class="text-muted">12</small></td>
            <td class="size">28</td>
            <td>
                <a href=""
                    class="text-muted"><i class="material-icons">more_vert</i></a>
            </td>
        </tr>
    </tbody>
{{/each}}